# -*- mode: sh; -*-
pyversion=2.7.14
pyenv=donation-tracker
nodeversion=9

use python ${pyversion}
# Create the virtualenv if not yet done
# layout virtualenv ${pyversion} ${pyenv}
# activate it
layout activate ${pyenv}-${pyversion}
use node ${nodeversion}
