# -*- mode: sh; -*-
pyversion=2.7.14
pvenv=donation-tracker

use python ${pyversion}
# Create the virtualenv if not yet done
# layout virtualenv ${pyversion} ${pvenv}
# activate it
layout activate ${pvenv}-${pyversion}
