# -*- mode: sh; -*-
pyversion=$(head .python-version)
pyenv=donation-tracker
nodeversion=$(head .node-version)

use pyenv ${pyversion}
use node ${nodeversion}

export LC_ALL="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"
