[submodule "tracker"]
	path = tracker
	url = https://github.com/GamesDoneQuick/donation-tracker.git
[submodule "tracker_ui"]
	path = tracker_ui
	url = https://github.com/GamesDoneQuick/donation-tracker-ui.git
